<% provide :title,t("help") %>
<h1><%= t "help" %></h1>
<p>
  <%= t "get_help" %>
  <a href="http://www.railstutorial.org/help">Rails Tutorial</a>.
  <%= t "target" %> <a href="http://www.railstutorial.org/book"><em><%= t "content" %></em></a>.
</p>
